! misc
URxvt.saveLines: 10000
URxvt.scrollBar: false
! URxvt.internalBorder: 4

! font
! URxvt.font: -*-fixed-medium-*-*-*-14-*-*-*-*-*-*-*
URxvt.font: xft:Tewi:pixelsize=9:antialias=false

! color
! URxvt.depth: 32
! URxvt.background: [50]#1d1f21
URxvt.background: #1d1f21
