[Desktop Entry]
Name=Screensaver (xscreensaver)
Comment=Start Screensaver
Type=Application
Icon=preferences-desktop-screensaver
TryExec=xscreensaver
Exec=xscreensaver -no-splash
NotShowIn=XFCE;KDE;
Hidden=false
X-GNOME-Autostart-enabled=true
